body {
    font: 16px sans-serif;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.component {
    font: 24px sans-serif;
}

.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .1px;
}
